<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet">

    <title></title>
</head>

<body>
    <nav class="navbar">
        <a class="right" href="login">Login</a>
        <a class="right" href="register">Register</a>
    </nav>
    
    
    <div class="footerDiv">
        Creator-<a href="https://github.com/mulitate4" target="_blank">Mulitate4</a>
    </div>
    
    <script src="{{ url_for('static', path='/js/misc_functions.js') }}"></script>
</body>
</html>
